 *{
     box-sizing: border-box;
 } 
  
.background-color {
    background-color:khaki;
}
  
  body{      
      background-image: url(../photo/landscape.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      
        padding: 0;
        background-color:khaki;
     }
    /* @media screen and (max-width: 720px){
        
        body{
             background-color: orange;
            text-align: center;
            font-family: cursive;
            display: flex; 
        }
        } */
h1,h2{
    font-family: fantasy;
    font-size: 42px;
}

textarea{
    text-align: center;
        }
/*img{
    width: 85%;
    height: 80%px;
    margin: 0 auto ;*/
    


.picture img{
    width: 100px;
    height: 100px;
    margin:0 auto;
    position: absolute;
            }
.images img{
    width: 300px;
    height: 200px;
    margin:0 auto;
    position: relative;
        }
.caroussel-slide{
height: 100vh;
width: 450vh;
                }
.progress{
    margin: 0 auto;
    height: 3vh;
    width: 80%;
    padding: 2px;
}
.langage{
margin: 1rem;
color:black;
}

.container-fluid,img{
    width:88%;
    height: 85%;
}
.card{
    background: khaki;
}

/* BOUTON CONNEXION ADMIN 
#admin{
 text-decoration:none;
  color: black;
  cursor: auto;
}  */  
.col-md-12{
    height: 1200px;
    width: 1300px;   
    position:absolute; 
    background:url(/photo/landscape.jpg);

}
 

.navbar-toggler{
background-color: khaki;
position: relative;

}
.container{
    height:85%;
    width: 100%;

}
footer{
    color:greenyellow;
}

/* Habiollage Portfolio */


 /*span{

    background: rgba(255,193,7,1);

    background: -moz-linear-gradient(45deg, rgb(7, 197, 255) 0%, rgb(34, 49, 255) 100%);

    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgb(7, 65, 255)), color-stop(100%, rgba(255,87,34,1)));

    background: -webkit-linear-gradient(45deg, rgb(7, 255, 201) 0%, rgb(34, 203, 255) 100%);

    background: -o-linear-gradient(45deg, rgb(7, 226, 255) 0%, rgb(34, 211, 255) 100%);

    background: -ms-linear-gradient(45deg, rgb(7, 176, 255) 0%, rgb(56, 34, 255) 100%);

    background: linear-gradient(45deg, rgb(7, 255, 243) 0%, rgb(34, 100, 255) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc107', endColorstr='#ff5722', GradientType=1 );

  }*/
/* Pour cacher le point de connexion admin */

#admin > span:nth-child(1)
{

background: #030444;

color: #030444 !important;

cursor: default;

text-decoration: none;

}



